<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
</head>
<link rel="stylesheet" href="/style.css">
<body>
  <nav>
    <ul class="navigation">
      <li>
        <a href="/pizza-orders">All Pizza Orders</a>
      </li>
      <li>
        <a href="/pizza-orders/new">Create Order</a>
      </li>
    </ul>
  </nav>
  <%= yield %>
</body>
</html>
